.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 30px;
}

.nav-logout{
    border-radius: 10px;
    padding: 5px 38px;
    background: rgb(7, 7, 68);
    color: #262626;
}

.nav-logout>img{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

.nav-setting{
    border-radius: 10px;
    padding: 5px 38px;
    background: rgb(7, 7, 68);
    color: #262626;
}


.nav-setting>img{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 0px;
}